<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test1</title>
    <!-- CDN에서 Vue 사용-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h2>필터링</h2>
   
   <div id="app">
        <div id="list">
            <div>
                search = <input type="text" v-model="value"/>
            </div>
            <ul v-for="user in search()">
                <li>{{user}}</li>
            </ul>
        </div>
   </div>

    <script>
        let data = {list : ["김철수", "홍길동", "영심이", "임꺽정", "이철수"], value:""}
        const {createApp} = Vue
        createApp({
            data(){
                return data;
            },
            methods : {
                search(){
                    if(this.value.length == 0)
                        return this.list;
                    return this.list.filter((name)=>{
                        return name.indexOf(this.value) != -1
                    })
                }
            }
        }).mount("#app")
    </script>
</body>
</html>