<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mybatis.boardMapper">
	<insert id="write" parameterType="Board">
		INSERT INTO simpleBoard(bNo, bTitle, bWriter, bContent)
		VALUES(seq_bNo.nextval, #{bTitle}, #{bWriter}, #{bContent})
	</insert>
	<select id="list" resultType="Board">
		SELECT * FROM simpleBoard
	</select>
	<select id="read" parameterType="int" resultType="Board">
		SELECT * FROM simpleBoard WHERE bNo=#{bNo}
	</select>
	<update id="update" parameterType="Board">
		UPDATE simpleBoard SET bTitle=#{bTitle}, bContent=#{bContent}
	</update>
</mapper>